* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.header-text-logo {
    color: #FFF;
    padding-left: 55px;
    font-family: 'Poppins';
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: 153.5%;
}

.navigation-button-header {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.header-nav-menu-list {
    display: flex;
}

.header-nav-menu-item {
    margin-right: 88px;
    position: relative;
}

.link-header-nav {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.link-header-nav::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2.5px;
    background-color: #DC7000;
    bottom: -14px;
    left: 0px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s linear;
}

.link-header-nav:hover::after,
.link-header-nav.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-header {
    width: 131.771px;
    height: 41.343px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FA9021;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.button-header:hover {
    transform: scale(1.1);
}

.title-text-info {
    text-align: center;
}

.title-text-info {
    padding-top: 120px;
}

.text-small-info {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
    padding-bottom: 15px;
}

.text-orange-info {
    color: #E47500;
}

.title-info {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%;
    padding-bottom: 13px;
}

.text-after-title-info {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
    padding-bottom: 45px;
}

.card-info-background {
    width: 1140px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #1C140F;
    padding-bottom: 133px;
    margin: auto;
}

.card-info-content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 34px;
}

.card1-info-content {
    display: flex;
    align-items: center;
}

.text-user-card-info {
    padding-left: 37px;
}

.text1-user-card-info {
    color: #FFF;
    font-family: 'Rubik';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    padding-bottom: 5px;
}

.text2-user-card-info {
    color: #FFF;
    font-family: 'Rubik';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info-hr {
    height: 126px;
}

.content-may {
    padding-top: 133px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 189px;
}

.title-may {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 180.5%;
    padding-bottom: 12px;
}

.text-may-after-title {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    padding-bottom: 26px;
}

.check-mark-text {
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.check-mark-text1 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    padding-left: 10px;
}

.card-city {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 189px;
}

.title-city {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 43px;
}

.text1-city {
    color: #FFF;
    font-family: 'Poppins';
    padding-bottom: 18px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2-city {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 46px;
}

.button-city {
    width: 177px;
    height: 50px;
    flex-shrink: 0;
    background-color: #DC7000;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
    border: none;
    font-weight: 400;
    line-height: normal;
    transition: transform 0.3s linear;
}

.button-city:hover {
    transform: scale(1.2);
}

.nice {
    background-color: #1C140F;
}

.title-text-nice {
    text-align: center;
    padding-top: 88px;
}

.title-nice {
    color: #FFF;
    font-family: 'Rubik';
    padding-bottom: 20px;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.text-after-title {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    padding-bottom: 68px;
}

.card-nice {
    display: flex;
    justify-content: space-around;
}

.block-nice-background {
    width: 393px;
    height: 227px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #DDD;
    margin-bottom: 83px;
    cursor: pointer;
    transition: transform 0.3s linear, background-color 0.3s ease;
}

.block-nice-background:hover {
    border: 2px solid #DC7000;
    background-color: #0F0901;
    transform: translateY(-50px);
    box-shadow: 0px 10px 10px rgba(87, 73, 73, 0.2);
}

.block-nice-content {
    padding-top: 24px;
}

.viezh-star-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.viezh-text-content {
    display: flex;
    align-items: center;
}

.text-content-nice {
    padding-left: 20px;
}

.text1-content-nice {
    color: #FFF;
    text-align: center;
    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.text2-content-nice {
    color: #4F5665;
    text-align: center;
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.star-text-nice {
    display: flex;
    align-items: center;
}

.star-text1-nice {
    color: #FFF;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 5px;
}

.text-after-viezh {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    padding-left: 49px;
}

.text-arrows-nice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

.orange-gray-text {
    margin-left: 43px;
}

.arrows-nice {
    display: flex;
    margin-right: 150px;
}

.arrow1-nice {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border: 2px solid #DC7000;
    fill: #DC7000;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s linear, fill 0.3s ease, background-color 0.3s ease;
}

.arrow1-nice:hover {
    transform: scale(1.2) rotate(-360deg);
    fill: white;
    background-color: #DC7000;
}

.arrow1-nice-svg {
    margin: 12px;
}

.arrow2-nice {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: #DC7000;
    fill: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s linear, fill 0.3s ease, background-color 0.3s ease;
}

.arrow2-nice:hover {
    transform: scale(1.2) rotate(360deg);
    fill: #DC7000;
    background-color: transparent;
    border: 2px solid #DC7000;
}

.arrow2-nice-svg {
    margin: 14px;
}

.search{
    width: 385.679px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    transition: transform 0.3s linear;
}

.search:hover {
    transform: translateY(-10px);
}

.search-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.search-text{
    border: none;
    background: white;
    color: black;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.search-text:active, .search-text:focus-visible{
    outline: none;
}

.search-btn {
    width: 104.996px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #DC7000;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
    transition: transform 0.3s linear;
}

.search-btn:hover {
    transform: scale(1.1);
}

.title-text-stay {
    padding-left: 167px;
    padding-top: 127px;
}

.title-stay {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
    padding-bottom: 25px;
}

.text-title-stay {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    padding-bottom: 74px;
}

.background-stay2 {
    width: 1170px;
    height: 189px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1B1B1B;
    margin: auto;
    margin-bottom: 163px;
}

.content-stay-text-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 41px;
}

.text-stay1 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.text-stay2 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    background-color: #070707;
}

.content-footer1 {
    display: flex;
    justify-content: space-around;
    padding-top: 79px;
    padding-bottom: 53px;
}

.social-networks-footer {
    display: flex;
    align-items: flex-end;
}

.insta-content {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    transition: transform 0.3s linear;
}

.insta-content:hover {
    transform: scale(1.6) rotate(360deg);
}

.insta {
    margin: 9px;
}

.text-logo {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 153.5%;
    padding-bottom: 15px;
}

.text-after-logo {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
}

.link-text-logo {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-item-footer1 {
    padding-bottom: 15px;
}

.link-menu-footer1 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-item-footer {
    padding-bottom: 11px;
    transition: transform 0.3s linear;
}

.menu-item-footer:hover {
    transform: translateX(17%);
}

.link-menu-footer {
    color:rgb(177, 177, 177);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
}

.link-menu-footer:hover {
    color: #DC7000;
}

.text-after-link {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.6%;
    text-align: center;
    padding: 29px;
}